<head>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo|Roboto&amp;subset=greek-ext,korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="/styles/blog-archive.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="left">
            <h3 class="post-title"> Haejin's Blog Post Archives</h3>
            <h4 class="post-date">Feel free to browse around.</h4>
        </div>
        <div id="right">
            <a href="http://52.8.197.89:3000" class="btn">Back Home</a>
        </div>
    </header>
    <div id="container">
        <div id="posts-list"></div>
    </div>

    <script>
        function succCB(dataRows) {
            for (let i = 0; i < dataRows.length; i++) {
                let postNode = document.createElement("div");
                postNode.setAttribute("id", "post-container");
                postNode.innerHTML =
                    `
                    <a class=\"post-title\" href=\"/blog/` + dataRows[i].id + `\">` + dataRows[i].title + `</a>
                    <h4 class=\"post-date\"> Posted on ` + new Date(Date.parse(dataRows[i].entry_time)).toDateString() + `</h4>
                    `
                document.getElementById('posts-list').appendChild(postNode);
            }
        }

        function errCB(e) {
            console.log("Error getting list of posts from db. Check blog-archive.html script");
        }

        // pure JS way (not easy Jquery onload way)
        function ready(callback) {
            // in case this document is already rendered 
            if (document.readyState !== 'loading') callback();

            //modern browsers 
            else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);

            // older than IE 8 losers 
            else document.attachEvent('onreadystatechange', function () {
                if (document.readyState === 'complete') callback();
            });
        }

        function yeah(cb1, cb2) {
            $.ajax({
                url: '/api/posts',
                type: 'GET',
                success: function (res) {
                    cb1(res);
                },
                error: function (e) {
                    cb2(e);
                },
            });
        }

        ready(yeah(succCB, errCB));

    </script>
</body>