<head>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo|Roboto&amp;subset=greek-ext,korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="/styles/blog.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <header>
            <a href="http://localhost:3001" class="btn">Back Home </a>
        </header>
        <div id="post-container">
            <h1 class="post-title"> This is a blog post title. </h1>
            <h4 class="post-date"> Posted on 00/00/00</h4>
            <p> This is blog post content. </p>
        </div>

    </div>

    <script>
        let successCallback = function (data) {
            console.log("Successfully made the AJAX request to api route~!");
            document.getElementsByClassName("post-title")[0].innerHTML = data.title;
            document.getElementsByTagName("p")[0].innerHTML = data.content;
            document.getElementsByClassName("post-date")[0].innerHTML = document.getElementsByClassName("post-date")[0].innerHTML.replace(/00\/00\/00/g, new Date(Date.parse(data.entry_time)).toDateString());
        }

        let errorCallback = function (err) {
            console.log("There was an error getting this unique post's shit: ", err);
        }

        function yeah(cb1, cb2) {
            let id = window.location.pathname.split('/').pop();

            $.ajax({
                url: '/api/' + id,
                type: "GET",
                success: function (res) {
                    console.log("res is", res);
                    cb1(res);
                },
                error: function (e) {
                    cb2(e);
                },
            });
        }

        window.onload = function (e) {
            //document.readyState will be complete, it's one of the requirements for the window.onload event to be fired
            yeah(successCallback, errorCallback);
        };

        document.getElementsByClassName("btn").onclick = function () {
            let xhttp = new XMLHTTPRequest();
            xhttp.onreadystatechange = function () {
                if (this.readystatechange === 4 && this.status === 200) {
                    console.log("Home button request sent and headers received with", this.responseText);
                }
            }
            xhttp.open('GET', "/takeMeHome", true);
            xhttp.send();
        }
    </script>
</body>