<!DOCTYPE html>

<html>

<head>
    <title>Submit a new post</title>
    <!--<a href="https://icons8.com">Icon pack by Icons8</a>-->
    <script src="https://cdn.quilljs.com/1.1.3/quill.js"></script>
    <script src="https://cdn.quilljs.com/1.1.3/quill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Patua+One" rel="stylesheet">
    <style>
        #editor {
            height: 20rem;
        }

        #title-input {
            width: 50%;
        }

        #comment-box {
            display: flex;
            flex-direction: column;
            height: 5rem;
            width: 80vw;
            font-family: 'Helvetica Neue', 'HelveticaNeue', 'Helvetica', 'Arial', 'sans-serif';
            overflow: scroll;
            border: 1px;
            border-style: solid;
        }

        #comment-box h3 {
            font-family: 'Patua One', cursive;
            justify-content: right;
        }

        #backToTop {
            position: fixed;
            bottom: 1rem;
            right: 2rem;
            width: 4rem;
            visibility: hidden;
        }
    </style>
    <!--Thanks for the stylin', Quilljs!-->
    <link href="https://cdn.quilljs.com/1.1.3/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.1.3/quill.bubble.css" rel="stylesheet">
</head>

<body>
    <h1 style="font-family: 'Julius Sans One', sans-serif;">Submit A New Post</h1>
    <input id="title-input" placeholder="Insert Post Title Here">
    <div id="toolbar"></div>
    <div id="editor"></div>
    <button id="saveButton">Click to Save Post</button>

    <div style="height:20px"></div>

    <div id="pseudo-editor"></div>

    <img id="backToTop" src="https://png.icons8.com/nolan/50/000000/circled-up-2.png">

    <script>

        let position = $(window).scrollTop();

        $(window).scroll(function () {
            let scroll = $(window).scrollTop();
            if (scroll > position) {
                $("#backToTop").animate({ opacity: 1 }, 'fast', function () {
                    $("#backToTop").css("visibility", "visible");
                });

            } else {
                $("#backToTop").css("visibility", "hidden");

            }
            position = scroll;
        });

        $(document).ready(function () {
            let toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],
                [{ 'indent': '-1' }, { 'indent': '+1' }],
                [{ 'size': ['small', false, 'large', 'huge'] }],
                ['link', 'image', 'video', 'formula'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                [{ 'align': [] }]
            ];

            let quill = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions
                },
                placeholder: 'Type your (optionally derisive) thoughts here, until I turn this into a route for my personal blog post portal',
                theme: 'snow'
            });


            // Want this to happen by default on page load before user sees
            // Get + display persistent old comments from posts database
            $.get("/blogPostData", function (data) {
                console.log(data, " is the data");
                for (let i = 0; i < data.length; i++) {
                    let date = data[i].entry_time;
                    let momentDate = moment(date);
                    momentDate = momentDate.format("MM-DD-YYYY hh:mm A").replace(/-/g, '/');

                    $("#pseudo-editor").append(
                        "<div id =\"comment-box\">" +
                        "<h3>" +
                        "Posted on " + momentDate + " by a lonely soul" +
                        "</h3>" +
                        "<h5>" +
                        data[i].title +
                        "</h5>" +
                        "<div id=\"comment-content\">" +
                        data[i].content +
                        "</div>" +
                        "</div>"
                    );
                }
            });


            // WHAT HAPPENS WHEN YOU CLICK SAVE
            $('#saveButton').click(function () {
                // TODO: Toggle save button clickability depending on whether user has enterered sufficient info

                // Scroll to bottom to see newest comment
                $("html, body").animate({ scrollTop: $(document).height() }, 1500);

                // Grab Title & HTML text that user is trying to submit
                let title = $("#title-input").val();
                let text = quill.container.firstChild.innerHTML;

                // Once you got it, make it Javascript object
                let postReqBody = {
                    "title": title,
                    "content": text,
                };

                let cb = function (data) {
                    console.log(data);
                    console.log("The content posted is: ", data.content);
                    console.log("And the title posted is: ", data.title);
                }

                let errCB = function (e) {
                    console.log("BLOG POST REQ ERROR : ", e);
                }
                // Post new title/content object to posts table in mysql (after formatting as JSON)

                function yeah(cb1, cb2) {
                    $.ajax({
                        type: "post",
                        data: JSON.stringify(postReqBody),
                        url: '/submit',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'text'
                        },
                        success: function (res) {
                            //cb1(res);
                            location.reload();
                        },
                        error: function (err) {
                            cb2(err);
                        },
                    });
                }

                yeah(cb, errCB);
            });

            // WHAT HAPPENS WHEN YOU CLICK UP ARROW 
            $("#backToTop").click(function () {
                $("html, body").animate({ scrollTop: 0 }, 1500);
            });

        });
    </script>


</body>

</html>